@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-G_I9pbhgPVdc: 16px;
  --plasmic-token-h-2: var(--token-G_I9pbhgPVdc);
  --token-xi3jpDXauaHt: #2a2b37;
  --plasmic-token-neutral-900: var(--token-xi3jpDXauaHt);
  --token-jUJdY6nOAoFk: #383848;
  --plasmic-token-neutral-800: var(--token-jUJdY6nOAoFk);
  --token-ismkEOm070-c: #48485c;
  --plasmic-token-neutral-700: var(--token-ismkEOm070-c);
  --token-u7416ODGutBX: #5c5d76;
  --plasmic-token-neutral-600: var(--token-u7416ODGutBX);
  --token-AQebKwgeNy3j: #656682;
  --plasmic-token-neutral-500: var(--token-AQebKwgeNy3j);
  --token-dOD9WNtX9u-K: #84859b;
  --plasmic-token-neutral-400: var(--token-dOD9WNtX9u-K);
  --token-JIFl0uLWbZDS: #9898ab;
  --plasmic-token-neutral-300: var(--token-JIFl0uLWbZDS);
  --token-cUvtMvhN50SJ: #b8b9c6;
  --plasmic-token-neutral-200: var(--token-cUvtMvhN50SJ);
  --token-GsDvCrzdSkTx: #cfd0d8;
  --plasmic-token-neutral-100: var(--token-GsDvCrzdSkTx);
  --token-Xth7xyYrzROz: #f0f0f3;
  --plasmic-token-neutral-050: var(--token-Xth7xyYrzROz);
  --token-AwLRpwY2py2p: 14px;
  --plasmic-token-body-small: var(--token-AwLRpwY2py2p);
  --token-k_8o2CcWCGLS: 20px;
  --plasmic-token-body-small-2: var(--token-k_8o2CcWCGLS);
  --token-vKdGakh9Exvo: #01471e;
  --plasmic-token-success-text: var(--token-vKdGakh9Exvo);
  --token-vEan-zIjGQbP: #dffbea;
  --plasmic-token-success-bg: var(--token-vEan-zIjGQbP);
  --token-5WQ5tmFMQISp: #aff5cb;
  --plasmic-token-success-200: var(--token-5WQ5tmFMQISp);
  --token-Uidnl5N-k3td: #87efb1;
  --plasmic-token-success-300: var(--token-Uidnl5N-k3td);
  --token-Iqlkzs3geqb2: #5fea97;
  --plasmic-token-success-400: var(--token-Iqlkzs3geqb2);
  --token-mCSiWko4Y5Hv: #37e57d;
  --plasmic-token-success-500: var(--token-mCSiWko4Y5Hv);
  --token-lsvSDDw3XcDV: #24bf63;
  --plasmic-token-success-600: var(--token-lsvSDDw3XcDV);
  --token-JpGw2i6YLh3d: #159649;
  --plasmic-token-success-700: var(--token-JpGw2i6YLh3d);
  --token-Nmjy_0Xk-ygs: #096e32;
  --plasmic-token-success-800: var(--token-Nmjy_0Xk-ygs);
  --token-ScbQwzAe4Tce: #d7faf8;
  --plasmic-token-secondary-100: var(--token-ScbQwzAe4Tce);
  --token-xP3SFZaaIFfv: #aff5f0;
  --plasmic-token-secondary-200: var(--token-xP3SFZaaIFfv);
  --token-tVVtcxFqiLmr: #87efe8;
  --plasmic-token-secondary-300: var(--token-tVVtcxFqiLmr);
  --token-6KHthAOhZCW0: #5feae1;
  --plasmic-token-secondary-400: var(--token-6KHthAOhZCW0);
  --token-VTOIewC9jzVA: #37e5db;
  --plasmic-token-secondary-500: var(--token-VTOIewC9jzVA);
  --token-pGSEO3UV2xPb: #24bfb5;
  --plasmic-token-secondary-600: var(--token-pGSEO3UV2xPb);
  --token-PHMTu3jLkvza: #15968e;
  --plasmic-token-secondary-700: var(--token-PHMTu3jLkvza);
  --token-XMDC-6j1BSEq: #096e67;
  --plasmic-token-secondary-800: var(--token-XMDC-6j1BSEq);
  --token-Ga2b6r1QZWFH: #014743;
  --plasmic-token-secondary-900: var(--token-Ga2b6r1QZWFH);
  --token-Gdi4AyP2tVp3: #d8d8fa;
  --plasmic-token-primary-100: var(--token-Gdi4AyP2tVp3);
  --token-ICYdVILrh1oJ: #b0b1f4;
  --plasmic-token-primary-200: var(--token-ICYdVILrh1oJ);
  --token-2n5nO8-MzVh2: #898bef;
  --plasmic-token-primary-300: var(--token-2n5nO8-MzVh2);
  --token-9OwhBSQqxYr1: #6164e9;
  --plasmic-token-primary-400: var(--token-9OwhBSQqxYr1);
  --token-0jv6EQ2IlDpb: #3a3de4;
  --plasmic-token-primary-500: var(--token-0jv6EQ2IlDpb);
  --token-mBRGeT4Byh5e: #2225bf;
  --plasmic-token-primary-600: var(--token-mBRGeT4Byh5e);
  --token-1sWi1qXhuRyo: #141696;
  --plasmic-token-primary-700: var(--token-1sWi1qXhuRyo);
  --token-c9ulB4B6vXTq: #08096e;
  --plasmic-token-primary-800: var(--token-c9ulB4B6vXTq);
  --token-PUp4Ilglt75J: #010347;
  --plasmic-token-primary-900: var(--token-PUp4Ilglt75J);
  --token-ie3DtPmcZLM8: #f2f3fd;
  --plasmic-token-primary-050: var(--token-ie3DtPmcZLM8);
  --token-GaXEmEEf08EC: #faf6d7;
  --plasmic-token-warning-100: var(--token-GaXEmEEf08EC);
  --token-Lb3VVxF74E6C: #f5eeaf;
  --plasmic-token-warning-200: var(--token-Lb3VVxF74E6C);
  --token-RyVMQzDNKMlx: #efe587;
  --plasmic-token-warning-300: var(--token-RyVMQzDNKMlx);
  --token-2TZPpP4HimsP: #eadd5f;
  --plasmic-token-warning-400: var(--token-2TZPpP4HimsP);
  --token-OMlZbW66rrzB: #e5d437;
  --plasmic-token-warning-500: var(--token-OMlZbW66rrzB);
  --token-gZYkOuRAsAor: #bfb024;
  --plasmic-token-warning-600: var(--token-gZYkOuRAsAor);
  --token-Xqju0dkv-xB1: #998c15;
  --plasmic-token-warning-700: var(--token-Xqju0dkv-xB1);
  --token-ED3gquojcXjI: #6e6408;
  --plasmic-token-warning-800: var(--token-ED3gquojcXjI);
  --token-vIu6M97APQUv: #383302;
  --plasmic-token-warning-900: var(--token-vIu6M97APQUv);
  --token-wOnbiQ1dHIu6: #fad7d7;
  --plasmic-token-danger-100: var(--token-wOnbiQ1dHIu6);
  --token-yLRDdebkjLhV: #f18787;
  --plasmic-token-danger-300: var(--token-yLRDdebkjLhV);
  --token-8tFWSDAQm_7s: #f6afaf;
  --plasmic-token-danger-200: var(--token-8tFWSDAQm_7s);
  --token-SMgtZtm0Jt9o: #ed6060;
  --plasmic-token-danger-400: var(--token-SMgtZtm0Jt9o);
  --token-wBd1aOEHMgcS: #e83838;
  --plasmic-token-danger-500: var(--token-wBd1aOEHMgcS);
  --token-dL3jbbg3Deh8: #c22525;
  --plasmic-token-danger-600: var(--token-dL3jbbg3Deh8);
  --token-1a35XgDb3Sp9: #9c1616;
  --plasmic-token-danger-700: var(--token-1a35XgDb3Sp9);
  --token-tTuROk1Z7CD3: #6b0707;
  --plasmic-token-danger-800: var(--token-tTuROk1Z7CD3);
  --token-xp-UlqKDPyC4: #360202;
  --plasmic-token-danger-900: var(--token-xp-UlqKDPyC4);
  --token-bXbqDUjidmf_: #fdfdfd;
  --plasmic-token-neutral-0: var(--token-bXbqDUjidmf_);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-6BdNSGij0Esh_font-family: "Inter", sans-serif;
  --mixin-6BdNSGij0Esh_font-size: 14px;
  --mixin-6BdNSGij0Esh_font-weight: 400;
  --mixin-6BdNSGij0Esh_font-style: normal;
  --mixin-6BdNSGij0Esh_color: var(--token-JIFl0uLWbZDS);
  --mixin-6BdNSGij0Esh_text-align: left;
  --mixin-6BdNSGij0Esh_text-transform: none;
  --mixin-6BdNSGij0Esh_line-height: 21px;
  --mixin-6BdNSGij0Esh_letter-spacing: -0.6%;
  --mixin-6BdNSGij0Esh_white-space: pre-wrap;
  --mixin-6BdNSGij0Esh_user-select: text;
  --mixin-6BdNSGij0Esh_text-decoration-line: none;
  --mixin-6BdNSGij0Esh_text-overflow: clip;
  --mixin-iD07cRQW9JCn_color: var(--token-xi3jpDXauaHt);
  --mixin-iD07cRQW9JCn_font-weight: 600;
  --mixin-iD07cRQW9JCn_font-size: 26px;
  --mixin-iD07cRQW9JCn_line-height: 32px;
  --mixin-iD07cRQW9JCn_letter-spacing: -1%;
  --mixin-iD07cRQW9JCn_white-space: pre-wrap;
  --mixin-XvKnhdydYLIP_color: var(--token-xi3jpDXauaHt);
  --mixin-XvKnhdydYLIP_font-size: 23px;
  --mixin-XvKnhdydYLIP_font-weight: 700;
  --mixin-XvKnhdydYLIP_line-height: 28px;
  --mixin-XvKnhdydYLIP_font-family: "Inter", sans-serif;
  --mixin-XvKnhdydYLIP_letter-spacing: -1%;
  --mixin-XvKnhdydYLIP_white-space: pre-wrap;
  --mixin-vdF_wKTtxdLA_color: #0070f3;
  --mixin-vdF_wKTtxdLA_white-space: pre-wrap;
  --mixin-J0p0wbZnP8Ui_color: var(--token-xi3jpDXauaHt);
  --mixin-J0p0wbZnP8Ui_font-size: 20px;
  --mixin-J0p0wbZnP8Ui_font-weight: 700;
  --mixin-J0p0wbZnP8Ui_line-height: 24px;
  --mixin-J0p0wbZnP8Ui_letter-spacing: -1%;
  --mixin-J0p0wbZnP8Ui_font-family: "Inter", sans-serif;
  --mixin-J0p0wbZnP8Ui_white-space: pre-wrap;
  --mixin-t7xGtCuekmP9_color: var(--token-xi3jpDXauaHt);
  --mixin-t7xGtCuekmP9_font-size: 18px;
  --mixin-t7xGtCuekmP9_font-weight: 700;
  --mixin-t7xGtCuekmP9_line-height: 24px;
  --mixin-t7xGtCuekmP9_letter-spacing: -1%;
  --mixin-t7xGtCuekmP9_font-family: "Inter", sans-serif;
  --mixin-t7xGtCuekmP9_white-space: pre-wrap;
  --mixin-OUtDLMAr8cin_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-OUtDLMAr8cin_border-bottom-color: #dddddd;
  --mixin-OUtDLMAr8cin_border-bottom-style: solid;
  --mixin-OUtDLMAr8cin_border-bottom-width: 1px;
  --mixin-OUtDLMAr8cin_border-left-color: #dddddd;
  --mixin-OUtDLMAr8cin_border-left-style: solid;
  --mixin-OUtDLMAr8cin_border-left-width: 1px;
  --mixin-OUtDLMAr8cin_border-right-color: #dddddd;
  --mixin-OUtDLMAr8cin_border-right-style: solid;
  --mixin-OUtDLMAr8cin_border-right-width: 1px;
  --mixin-OUtDLMAr8cin_border-top-color: #dddddd;
  --mixin-OUtDLMAr8cin_border-top-style: solid;
  --mixin-OUtDLMAr8cin_border-top-width: 1px;
  --mixin-OUtDLMAr8cin_border-bottom-left-radius: 3px;
  --mixin-OUtDLMAr8cin_border-bottom-right-radius: 3px;
  --mixin-OUtDLMAr8cin_border-top-left-radius: 3px;
  --mixin-OUtDLMAr8cin_border-top-right-radius: 3px;
  --mixin-OUtDLMAr8cin_font-family: "Inconsolata";
  --mixin-OUtDLMAr8cin_padding-bottom: 1px;
  --mixin-OUtDLMAr8cin_padding-left: 4px;
  --mixin-OUtDLMAr8cin_padding-right: 4px;
  --mixin-OUtDLMAr8cin_padding-top: 1px;
  --mixin-OUtDLMAr8cin_white-space: pre-wrap;
  --mixin-9UP-inv5PSu4_border-left-color: #dddddd;
  --mixin-9UP-inv5PSu4_border-left-style: solid;
  --mixin-9UP-inv5PSu4_border-left-width: 3px;
  --mixin-9UP-inv5PSu4_color: #888888;
  --mixin-9UP-inv5PSu4_padding-left: 10px;
  --mixin-9UP-inv5PSu4_white-space: pre-wrap;
  --mixin-5v6VmYmkpb1U_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-5v6VmYmkpb1U_border-bottom-color: #dddddd;
  --mixin-5v6VmYmkpb1U_border-bottom-style: solid;
  --mixin-5v6VmYmkpb1U_border-bottom-width: 1px;
  --mixin-5v6VmYmkpb1U_border-left-color: #dddddd;
  --mixin-5v6VmYmkpb1U_border-left-style: solid;
  --mixin-5v6VmYmkpb1U_border-left-width: 1px;
  --mixin-5v6VmYmkpb1U_border-right-color: #dddddd;
  --mixin-5v6VmYmkpb1U_border-right-style: solid;
  --mixin-5v6VmYmkpb1U_border-right-width: 1px;
  --mixin-5v6VmYmkpb1U_border-top-color: #dddddd;
  --mixin-5v6VmYmkpb1U_border-top-style: solid;
  --mixin-5v6VmYmkpb1U_border-top-width: 1px;
  --mixin-5v6VmYmkpb1U_border-bottom-left-radius: 3px;
  --mixin-5v6VmYmkpb1U_border-bottom-right-radius: 3px;
  --mixin-5v6VmYmkpb1U_border-top-left-radius: 3px;
  --mixin-5v6VmYmkpb1U_border-top-right-radius: 3px;
  --mixin-5v6VmYmkpb1U_font-family: "Inconsolata";
  --mixin-5v6VmYmkpb1U_padding-bottom: 3px;
  --mixin-5v6VmYmkpb1U_padding-left: 6px;
  --mixin-5v6VmYmkpb1U_padding-right: 6px;
  --mixin-5v6VmYmkpb1U_padding-top: 3px;
  --mixin-5v6VmYmkpb1U_white-space: pre-wrap;
  --mixin-WTwFvBmVr2H3_display: flex;
  --mixin-WTwFvBmVr2H3_flex-direction: column;
  --mixin-WTwFvBmVr2H3_align-items: stretch;
  --mixin-WTwFvBmVr2H3_justify-content: flex-start;
  --mixin-WTwFvBmVr2H3_list-style-position: outside;
  --mixin-WTwFvBmVr2H3_padding-left: 40px;
  --mixin-WTwFvBmVr2H3_position: relative;
  --mixin-WTwFvBmVr2H3_list-style-type: disc;
  --mixin-WTwFvBmVr2H3_white-space: pre-wrap;
  --mixin-ob3PIga9oN-0_display: flex;
  --mixin-ob3PIga9oN-0_flex-direction: column;
  --mixin-ob3PIga9oN-0_align-items: stretch;
  --mixin-ob3PIga9oN-0_justify-content: flex-start;
  --mixin-ob3PIga9oN-0_list-style-position: outside;
  --mixin-ob3PIga9oN-0_padding-left: 40px;
  --mixin-ob3PIga9oN-0_position: relative;
  --mixin-ob3PIga9oN-0_list-style-type: decimal;
  --mixin-ob3PIga9oN-0_white-space: pre-wrap;
  --mixin-nosIIrwg7Cx1_color: var(--token-jUJdY6nOAoFk);
  --mixin-nosIIrwg7Cx1_font-size: 16px;
  --mixin-nosIIrwg7Cx1_font-weight: 600;
  --mixin-nosIIrwg7Cx1_line-height: 20px;
  --mixin-nosIIrwg7Cx1_letter-spacing: -1%;
  --mixin-nosIIrwg7Cx1_font-family: "Inter", sans-serif;
  --mixin-nosIIrwg7Cx1_white-space: pre-wrap;
  --mixin-cu-Kp0vb_IEq_color: var(--token-xi3jpDXauaHt);
  --mixin-cu-Kp0vb_IEq_font-size: 14px;
  --mixin-cu-Kp0vb_IEq_font-weight: 600;
  --mixin-cu-Kp0vb_IEq_line-height: 20px;
  --mixin-cu-Kp0vb_IEq_letter-spacing: 1%;
  --mixin-cu-Kp0vb_IEq_font-family: "Inter", sans-serif;
  --mixin-cu-Kp0vb_IEq_white-space: pre-wrap;
  --mixin-3nDV1JOfAkN1_color: #3291ff;
  --mixin-3nDV1JOfAkN1_white-space: pre-wrap;
  --mixin-lzH_NGxVnlzP_white-space: pre-wrap;
  --mixin-bv_VQscGJuCG_color: var(--token-ismkEOm070-c);
  --mixin-bv_VQscGJuCG_font-family: "Inter", sans-serif;
  --mixin-bv_VQscGJuCG_font-weight: 500;
  --mixin-bv_VQscGJuCG_font-size: 16px;
  --mixin-bv_VQscGJuCG_line-height: 24px;
  --mixin-bv_VQscGJuCG_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-aha1PChR9SKZ_white-space: pre-wrap;
  --plasmic-mixin-label-m_white-space: var(--mixin-aha1PChR9SKZ_white-space);
  --mixin-bY1cRBs7fFp1_white-space: pre-wrap;
  --plasmic-mixin-label-s_white-space: var(--mixin-bY1cRBs7fFp1_white-space);
  --mixin-yImUNc7x5kue_box-shadow: 0px 12px 12px -6px #00000029,
    0px 0px 1px 0px #00000066;
  --plasmic-mixin-card-shadow_box-shadow: var(--mixin-yImUNc7x5kue_box-shadow);
  --mixin-yImUNc7x5kue_white-space: pre-wrap;
  --plasmic-mixin-card-shadow_white-space: var(
    --mixin-yImUNc7x5kue_white-space
  );
  --mixin-fFVH_mqrwoR__white-space: pre-wrap;
  --plasmic-mixin-label-l_white-space: var(--mixin-fFVH_mqrwoR__white-space);
  --mixin-rrXK-TJVYwxn_white-space: pre-wrap;
  --plasmic-mixin-l-heading_white-space: var(--mixin-rrXK-TJVYwxn_white-space);
  --mixin-Oaia5PJfqBDI_box-shadow: 0px 0px 4px 0px #0000001a,
    0px 4px 16px 0px #00000033;
  --plasmic-mixin-card-component-shadow_box-shadow: var(
    --mixin-Oaia5PJfqBDI_box-shadow
  );
  --mixin-Oaia5PJfqBDI_white-space: pre-wrap;
  --plasmic-mixin-card-component-shadow_white-space: var(
    --mixin-Oaia5PJfqBDI_white-space
  );
  --mixin-xbrTyxKdLSMT_white-space: pre-wrap;
  --plasmic-mixin-body_white-space: var(--mixin-xbrTyxKdLSMT_white-space);
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-6BdNSGij0Esh_font-family);
  font-size: var(--mixin-6BdNSGij0Esh_font-size);
  font-weight: var(--mixin-6BdNSGij0Esh_font-weight);
  font-style: var(--mixin-6BdNSGij0Esh_font-style);
  color: var(--mixin-6BdNSGij0Esh_color);
  text-align: var(--mixin-6BdNSGij0Esh_text-align);
  text-transform: var(--mixin-6BdNSGij0Esh_text-transform);
  line-height: var(--mixin-6BdNSGij0Esh_line-height);
  letter-spacing: var(--mixin-6BdNSGij0Esh_letter-spacing);
  white-space: var(--mixin-6BdNSGij0Esh_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-iD07cRQW9JCn_color);
  font-weight: var(--mixin-iD07cRQW9JCn_font-weight);
  font-size: var(--mixin-iD07cRQW9JCn_font-size);
  line-height: var(--mixin-iD07cRQW9JCn_line-height);
  letter-spacing: var(--mixin-iD07cRQW9JCn_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-XvKnhdydYLIP_color);
  font-size: var(--mixin-XvKnhdydYLIP_font-size);
  font-weight: var(--mixin-XvKnhdydYLIP_font-weight);
  line-height: var(--mixin-XvKnhdydYLIP_line-height);
  font-family: var(--mixin-XvKnhdydYLIP_font-family);
  letter-spacing: var(--mixin-XvKnhdydYLIP_letter-spacing);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-vdF_wKTtxdLA_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-J0p0wbZnP8Ui_color);
  font-size: var(--mixin-J0p0wbZnP8Ui_font-size);
  font-weight: var(--mixin-J0p0wbZnP8Ui_font-weight);
  line-height: var(--mixin-J0p0wbZnP8Ui_line-height);
  letter-spacing: var(--mixin-J0p0wbZnP8Ui_letter-spacing);
  font-family: var(--mixin-J0p0wbZnP8Ui_font-family);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-t7xGtCuekmP9_color);
  font-size: var(--mixin-t7xGtCuekmP9_font-size);
  font-weight: var(--mixin-t7xGtCuekmP9_font-weight);
  line-height: var(--mixin-t7xGtCuekmP9_line-height);
  letter-spacing: var(--mixin-t7xGtCuekmP9_letter-spacing);
  font-family: var(--mixin-t7xGtCuekmP9_font-family);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-OUtDLMAr8cin_font-family);
  border-radius: var(--mixin-OUtDLMAr8cin_border-top-left-radius)
    var(--mixin-OUtDLMAr8cin_border-top-right-radius)
    var(--mixin-OUtDLMAr8cin_border-bottom-right-radius)
    var(--mixin-OUtDLMAr8cin_border-bottom-left-radius);
  padding: var(--mixin-OUtDLMAr8cin_padding-top)
    var(--mixin-OUtDLMAr8cin_padding-right)
    var(--mixin-OUtDLMAr8cin_padding-bottom)
    var(--mixin-OUtDLMAr8cin_padding-left);
  border-top: var(--mixin-OUtDLMAr8cin_border-top-width)
    var(--mixin-OUtDLMAr8cin_border-top-style)
    var(--mixin-OUtDLMAr8cin_border-top-color);
  border-right: var(--mixin-OUtDLMAr8cin_border-right-width)
    var(--mixin-OUtDLMAr8cin_border-right-style)
    var(--mixin-OUtDLMAr8cin_border-right-color);
  border-bottom: var(--mixin-OUtDLMAr8cin_border-bottom-width)
    var(--mixin-OUtDLMAr8cin_border-bottom-style)
    var(--mixin-OUtDLMAr8cin_border-bottom-color);
  border-left: var(--mixin-OUtDLMAr8cin_border-left-width)
    var(--mixin-OUtDLMAr8cin_border-left-style)
    var(--mixin-OUtDLMAr8cin_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-9UP-inv5PSu4_color);
  padding-left: var(--mixin-9UP-inv5PSu4_padding-left);
  border-left: var(--mixin-9UP-inv5PSu4_border-left-width)
    var(--mixin-9UP-inv5PSu4_border-left-style)
    var(--mixin-9UP-inv5PSu4_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-5v6VmYmkpb1U_font-family);
  border-radius: var(--mixin-5v6VmYmkpb1U_border-top-left-radius)
    var(--mixin-5v6VmYmkpb1U_border-top-right-radius)
    var(--mixin-5v6VmYmkpb1U_border-bottom-right-radius)
    var(--mixin-5v6VmYmkpb1U_border-bottom-left-radius);
  padding: var(--mixin-5v6VmYmkpb1U_padding-top)
    var(--mixin-5v6VmYmkpb1U_padding-right)
    var(--mixin-5v6VmYmkpb1U_padding-bottom)
    var(--mixin-5v6VmYmkpb1U_padding-left);
  border-top: var(--mixin-5v6VmYmkpb1U_border-top-width)
    var(--mixin-5v6VmYmkpb1U_border-top-style)
    var(--mixin-5v6VmYmkpb1U_border-top-color);
  border-right: var(--mixin-5v6VmYmkpb1U_border-right-width)
    var(--mixin-5v6VmYmkpb1U_border-right-style)
    var(--mixin-5v6VmYmkpb1U_border-right-color);
  border-bottom: var(--mixin-5v6VmYmkpb1U_border-bottom-width)
    var(--mixin-5v6VmYmkpb1U_border-bottom-style)
    var(--mixin-5v6VmYmkpb1U_border-bottom-color);
  border-left: var(--mixin-5v6VmYmkpb1U_border-left-width)
    var(--mixin-5v6VmYmkpb1U_border-left-style)
    var(--mixin-5v6VmYmkpb1U_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-WTwFvBmVr2H3_display);
  flex-direction: var(--mixin-WTwFvBmVr2H3_flex-direction);
  align-items: var(--mixin-WTwFvBmVr2H3_align-items);
  justify-content: var(--mixin-WTwFvBmVr2H3_justify-content);
  list-style-position: var(--mixin-WTwFvBmVr2H3_list-style-position);
  padding-left: var(--mixin-WTwFvBmVr2H3_padding-left);
  position: var(--mixin-WTwFvBmVr2H3_position);
  list-style-type: var(--mixin-WTwFvBmVr2H3_list-style-type);
  flex-column-gap: var(--mixin-WTwFvBmVr2H3_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-ob3PIga9oN-0_display);
  flex-direction: var(--mixin-ob3PIga9oN-0_flex-direction);
  align-items: var(--mixin-ob3PIga9oN-0_align-items);
  justify-content: var(--mixin-ob3PIga9oN-0_justify-content);
  list-style-position: var(--mixin-ob3PIga9oN-0_list-style-position);
  padding-left: var(--mixin-ob3PIga9oN-0_padding-left);
  position: var(--mixin-ob3PIga9oN-0_position);
  list-style-type: var(--mixin-ob3PIga9oN-0_list-style-type);
  flex-column-gap: var(--mixin-ob3PIga9oN-0_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-nosIIrwg7Cx1_color);
  font-size: var(--mixin-nosIIrwg7Cx1_font-size);
  font-weight: var(--mixin-nosIIrwg7Cx1_font-weight);
  line-height: var(--mixin-nosIIrwg7Cx1_line-height);
  letter-spacing: var(--mixin-nosIIrwg7Cx1_letter-spacing);
  font-family: var(--mixin-nosIIrwg7Cx1_font-family);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-cu-Kp0vb_IEq_color);
  font-size: var(--mixin-cu-Kp0vb_IEq_font-size);
  font-weight: var(--mixin-cu-Kp0vb_IEq_font-weight);
  line-height: var(--mixin-cu-Kp0vb_IEq_line-height);
  letter-spacing: var(--mixin-cu-Kp0vb_IEq_letter-spacing);
  font-family: var(--mixin-cu-Kp0vb_IEq_font-family);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-3nDV1JOfAkN1_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
  color: var(--mixin-bv_VQscGJuCG_color);
  font-family: var(--mixin-bv_VQscGJuCG_font-family);
  font-weight: var(--mixin-bv_VQscGJuCG_font-weight);
  font-size: var(--mixin-bv_VQscGJuCG_font-size);
  line-height: var(--mixin-bv_VQscGJuCG_line-height);
}
